<aside class="aside-bg-color h-100 p-4">
  <div class="d-flex  ms-2">
    <span class="image-wrapper me-3"><img src="./../../../assets/images/angular -practice app.png" alt=""></span>
    <span class="d-flex justify-content-center align-items-center">Admin</span>
  </div>
  <ul class="nav flex-column mt-5">
    <li class="nav-item ">
      <a class="nav-link active" aria-current="page" href="#">
        <span class="bi bi-speedometer2  nav-icon"></span>
        <span class="nav-text">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="bi bi-calendar2-fill  nav-icon"></span>
        <span class="nav-text">My Expenses</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="bi bi-calendar2-fill  nav-icon"></span>
        <span class="nav-text">Approver-list</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="bi bi-calendar2-fill  nav-icon"></span>
        <span class="nav-text">Finanace-list</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="bi bi-gear-fill  nav-icon"></span>
        <span class="nav-text">Setup Category</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:void(0)">
        <span class="bi bi-info-circle-fill  nav-icon"></span>
        <span class="nav-text" >Info</span>
      </a>
    </li>
    
  </ul>
</aside>