<div class="h-100 w-100 p-4">
    <div class="d-flex justify-content-end">
        <div class="p-3">
            <button class="btn btn-primary" (click)="openOverlay()">Add employee</button>
        </div>
    </div>

    <div class="container py-5  ">
        <table class=" w-100">
            <thead class="bg-secondary ">
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Mobile No</th>
                <th scope="col">Gender</th>
                <th scope="col">Salary</th>
                <th scope="col">Action</th>
            </thead> 
            <tbody >
                <tr *ngFor="let data of employeeData | search :employeeInfo"  class=" bg-light border">
                    <td>{{data.id}}</td>
                    <td>{{data.name | titlecase}}</td>
                    <td>{{data.mobileNo}}</td>
                    <td>{{data.gender | uppercase}}</td>
                    <td>{{data.salary | currency:'INR'}}</td>
                    <td>
                        <div>
                            <button class="btn btn-primary" (click)="editEmployeeData(data, data.id)">Edit</button>
                            <button class="ms-2 btn btn-danger" (click)="deleteEmployee(data.id)">Delete</button>
                            <button class="ms-2 btn btn-success" (click)="getDetails(data.id)">Details</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>